*.gem
*.rbc
.config
Gemfile.lock
InstalledFiles
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
*.bundle
*.so
*.o
*.a
mkmf.log

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea/

# rspec failure tracking
.rspec_status
